/* #8F2E44 */

body {
    background-color: darkslateblue;
    margin: 0 0;
    border: 5px solid steelblue;
    color: floralwhite;
}

header {
    background-color: #25A883;
    padding: 1px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
}

footer {
    background-color: #25A883;
    margin-top: 20px;
    padding: 10px;
}

nav ul {
    display: flex;
    flex: 1;
    padding: 0 0;
    list-style-type: none;
}

nav li {
    display: flex;
    flex: 1;
    background-color: #54756C;
    border: 2px double #25A883;
}

nav a {
    flex: 1;
    padding: 10px;
}

a {
    color: inherit;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.modalShown {
    opacity: 1.0;
    transition: opacity 0.5s ease-out;
    pointer-events: auto;
}

.modal button {
    margin: 1rem;
    width: 5rem;
}

table {
    width: 100%;
    border: 1px solid royalblue;
}

tr {
    text-align: center;
    background-color: orange;
    color: black;
    font-weight: bold;
}

.goalInput {
    max-width: 40px;
    text-align: center;
}

.fixturePlayed {
    background-color: rgb(153, 224, 224);
}

.tableHeading {
    background-color: lightcoral;
    height: 40px;
}

#playerNameInput {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid royalblue;
    padding: 10px;
}

button {
    border: 2px solid royalblue;
    padding: 10px;
    font-weight: bold;
}

#resetButton {
    width: 100%;
    background-color: tomato;
    color: whitesmoke;
}

#addPlayerButton {
    display: block;
    width: 100%;
    background-color: lightseagreen;
    color: whitesmoke;
}